@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>




<form>
    <div class="form-group">
        <label for="formName">Full Name:</label>
        <input type="text" name="name" class="form-control" id="formName"
               v-model="model.name" v-validate="'required'">
        <span v-show="errors.has('name')" class="text-danger">
            {{errors.first('name')}}
        </span>
    </div>
    <div class="form-group">
        <label for="formBio">Bio:</label>
        <textarea name="bio" id="formBio" class="form-control" rows="3" v-model="model.bio"></textarea>
    </div>
    <div class="form-group">
        <label for="formGender">Gender:</label>
        <select v-model="model.gender" class="form-control">
            <option>Female</option>
            <option>Male</option>
        </select>
    </div>
    <div class="form-group">
        <label for="formGender">Frameworks:</label>
        <select v-model="model.frameworks" class="form-control" multiple>
            <option>Vue</option>
            <option>Aurelia</option>
            <option>Preact</option>
            <option>Inferno</option>
        </select>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" v-model="model.subscribe"> Subscribe me, please!
            {{model.subscribe}}
        </label>
    </div>
</form>

@section scripts{

    <script>
        import Vue from 'vue';
        import VeeValidate from 'vee-validate';
        Vue.use(VeeValidate);

        var app = new Vue({
            el: '#app',
            data: {
                Title: 'Vue Vee Validation',
                Model:
                {
                    name: '',
                    bio: '',
                    gender: '',
                    frameworks: [],
                    subscribe: false
                }
            }
        }
                });

    </script>
}

