@model EE.KapsalonX.Web.Models.BoekenModel

@{
    ViewData["Title"] = "Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrator</h2>

<p>Enkel de administrator kan deze pagina zien en bezoeken.</p>

