@{
    ViewData["Title"] = "Home Page";

}

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container-fluid image">
    <img src="~/images/banner2.jpg" class="img-responsive" />
    <div id="link">
        <a id="str" asp-action="Index" asp-controller="Afspraak"></a>
    </div>
</div>
<br />
<h2 class="text-center"></h2>
<div class="container" id="app">
    <h2 class="text-center">{{ Behandelingen }}</h2><br />
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/kapsel-vrouw.jpg" style="opacity:0.8" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/kapsel-man.jpg" style="opacity:0.8" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/kinderen.jpg" style="opacity:0.8" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center behandeling box">
            <p v-for="behandeling in BehandelingDames">
                <span>{{ behandeling.naam }}</span>
            </p>
        </div>
        <div class="col-md-4 text-center behandeling box">
            <p v-for="behandeling in BehandelingHeren">
                <span>{{ behandeling.naam }}</span>
            </p>
        </div>
        <div class="col-md-4 text-center behandeling box">
            <p v-for="behandeling in BehandelingKinderen">
                <span>{{ behandeling.naam }}</span>
            </p>
        </div>
    </div>
    <h2 class="text-center">{{ Producten }}</h2><br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/gold.png" style="opacity:0.8" />
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="~/images/kms.png" style="opacity:0.8" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center behandeling box">
            <p>
                <span>{{ Goldwell }}</span>
            </p>
        </div>
        <div class="col-md-4 text-center behandeling box">
            <p>
                <span>{{ Kms }}</span>
            </p>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var URL = 'https://localhost:5001/';
        var app = new Vue({
            el: '#app',
            data: {
                Behandelingen: 'BEHANDELINGEN',
                Producten: 'PRODUCTEN',
                BehandelingDames: [
                    { naam: 'knippen' },
                    { naam: 'brushing' },
                    { naam: 'kleuren' }
                ],
                BehandelingHeren: [
                    { naam: 'knippen' },
                    { naam: 'tondeuze' }
                ],
                BehandelingKinderen: [
                    { naam: 'meisjessnit' },
                    { naam: 'jongenssnit' }
                ],
                Goldwell: "goldwell",
                Kms: "kms",
                Paul: "paul mitchell"
            }
        });

    </script>
}
