@using Syncfusion.EJ2

@model EE.KapsalonX.Web.ViewModels.AdminEditVm
@addTagHelper "*, Syncfusion.EJ2"
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2>Afspraak bewerken</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-controller="Admin" asp-action="Edit" method="post" class="form-horizontal">
                <input asp-for="Id" hidden />
                <div class="form-group">
                    <label asp-for="Klant.Achternaam" class="control-label"></label>
                    <input asp-for="Klant.Achternaam" class="form-control" />
                    <span asp-validation-for="Klant.Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Voornaam" class="control-label"></label>
                    <input asp-for="Klant.Voornaam" class="form-control" />
                    <span asp-validation-for="Klant.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Emailadres" class="control-label"></label>
                    <input asp-for="Klant.Emailadres" class="form-control" />
                    <span asp-validation-for="Klant.Emailadres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Telefoonnummer" class="control-label"></label>
                    <input asp-for="Klant.Telefoonnummer" class="form-control" />
                    <span asp-validation-for="Klant.Telefoonnummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" type="time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Behandeling.Geslacht" class="control-label" hidden></label>
                    <input asp-for="Behandeling.Geslacht" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="Behandeling.GekozenBehandeling" class="control-label" hidden></label>
                    <input asp-for="Behandeling.GekozenBehandeling" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="Opmerkingen" class="control-label"></label>
                    <input asp-for="Opmerkingen" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tijdsduur" class="control-label"></label>
                    <input asp-for="Tijdsduur" class="form-control" />
                    <span asp-validation-for="Tijdsduur" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Opslaan" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Keer terug</a>
    </div>
</div>

