@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Controleer je inbox...
    </p>
</div>

