@page
@model LogoutModel
@{
    ViewData["Title"] = "Afmelden";
}
<div class="container">
    <header>
        <h2>@ViewData["Title"]</h2>
        <p>Je bent succesvol afgemeld.</p>
    </header>
</div>