@model EE.KapsalonX.Web.ViewModels.BoekenIndexVm
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form role="form" method="post">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h3>Kies de gewenste behandeling</h3>
                            <div class="col-md-4 col-xs-6">
                                <img src="https://picsum.photos/120/120" class="next-step" />
                                <p class="next-step">dames</p>
                                <button name="Geslacht" type="button" asp-controller="Boeken" asp-action="Index2" value="Dames">Dames</button>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="https://picsum.photos/120/120" class="next-step" />
                                <p class="next-step">Heren</p>
                                <button name="btn" type="button" class="btn btn-primary next-step" value="Heren">heren</button>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <img src="https://picsum.photos/120/120" />
                                <p class="next-step">Kinderen</p>
                                <button name="btn" type="button" class="btn btn-primary next-step" value="Kinderen">kinderen</button>
                            </div>
                            <ul class="list-inline pull-right">
                                <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>

                            </ul>
                            @ViewBag.Gender

                            <button asp-controller="Boeken" asp-action="Index" type="submit" value="Submit" />

                        </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <h3>Step 2</h3>
                                @*<p>Kies de gewenste behandeling</p>
                                @ViewBag.Gender
                                @if (Model.Geslacht == "M")
                                {
                                    <p>heren</p>
                                }
                                else if (Model.Geslacht == "F")
                                {
                                    <p>dames</p>
                                }
                                else
                                {
                                    <p>niks, @Model.Geslacht</p>
                                    
                                }*@
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <h3>Step 3</h3>
                                <p>This is step 3</p>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                    <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                                    <li><button type="button" class="btn btn-primary btn-info-full next-step">Save and continue</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h3>Complete</h3>
                                <p>You have successfully completed all steps.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </form>
            </div>
        </section>
    </div>
</div>