@model EE.KapsalonX.Web.Models.BoekenModel

@{
    //ViewData["Title"] = "Index";
}
@*<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>*@
<h2>Maak uw afspraak</h2>
<h1>Stap @Model.Stap</h1>

<form asp-controller="Boeken" asp-action="Index" method="post">
    <input asp-for="Stap" hidden />

    @switch (Model.Stap)
    {
        case 1:
            <label asp-for="Geslacht">Kies geslacht</label><br />
            <input asp-for="Geslacht" /><br />
            <input asp-for="Optie" hidden /><br />
            break;
        case 2:
            <label asp-for="Geslacht" hidden>Kies geslacht</label>
            <input asp-for="Geslacht" hidden />
            <label asp-for="Optie">Kies behandeling</label><br />
            <input asp-for="Optie" />
            break;
        default:
            break;
    }
    <br />
    <button type="submit">Volgende</button>
</form>